<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  {{#block "title"}}
  <title>{{meta_title}}</title>
  {{/block}}
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  {{#block "meta-viewport"}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{/block}}

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="{{asset "img/favicon-256x256.png"}}" sizes="256x256" />

  {{! Styles'n'Scripts }}
  {{#block "styles"}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/common.css"}}" />
  {{/block}}

  <script src="//use.typekit.net/ftt0wcm.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="{{body_class}} near-top">

  {{> header}}

  <div class="drawer">
    <ul id="drawer-nav" class="nav"></ul>
    <ul id="drawer-subnav" class="nav"></ul>
  </div>
  <div class="canvas clearfix">
    {{! Everything else gets inserted here }}
    {{{body}}}

    {{#block "footer"}}
    {{> footer}}
    {{/block}}

    {{#block "scripts"}}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
      <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
      <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    {{/block}}
  </div>
</body>
</html>
